# Challenge 3

In this challenge we will work on the `Orders` data set. In your work you will apply the thinking process and workflow we showed you in Challenge 2.

You are serving as a Business Intelligence Analyst at the headquarter of an international fashion goods chain store. Your boss today asked you to do two things for her:

**First, identify two groups of customers from the data set.** The first group is **VIP Customers** whose **aggregated expenses** at your global chain stores are **above the 95th percentile** (aka. 0.95 quantile). The second group is **Preferred Customers** whose **aggregated expenses** are **between the 75th and 95th percentile**.

**Second, identify which country has the most of your VIP customers, and which country has the most of your VIP+Preferred Customers combined.**

## Q1: How to identify VIP & Preferred Customers?

We start by importing all the required libraries:

In [240]:
# import required libraries
import numpy as np
import pandas as pd

Next, extract and import `Orders` dataset into a dataframe variable called `orders`. Print the head of `orders` to overview the data:

In [239]:
# your code here
orders= pd.read_csv ('Orders.csv')

In [241]:
orders.shape

(397924, 14)

In [234]:
orders.head()

,Unnamed: 0,InvoiceNo,StockCode,year,month,day,hour,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country,amount_spent
0,0,536365,85123A,2010,12,3,8,white hanging heart t-light holder,6,2010-12-01 08:26:00,2.55,17850,United Kingdom,15.30
1,1,536365,71053,2010,12,3,8,white metal lantern,6,2010-12-01 08:26:00,3.39,17850,United Kingdom,20.34
2,2,536365,84406B,2010,12,3,8,cream cupid hearts coat hanger,8,2010-12-01 08:26:00,2.75,17850,United Kingdom,22.00
3,3,536365,84029G,2010,12,3,8,knitted union flag hot water bottle,6,2010-12-01 08:26:00,3.39,17850,United Kingdom,20.34
4,4,536365,84029E,2010,12,3,8,red woolly hottie white heart.,6,2010-12-01 08:26:00,3.39,17850,United Kingdom,20.34

---

"Identify VIP and Preferred Customers" is the non-technical goal of your boss. You need to translate that goal into technical languages that data analysts use:

## How to label customers whose aggregated `amount_spent` is in a given quantile range?

We break down the main problem into several sub problems:

#### Sub Problem 1: How to aggregate the  `amount_spent` for unique customers?

#### Sub Problem 2: How to select customers whose aggregated `amount_spent` is in a given quantile range?

#### Sub Problem 3: How to label selected customers as "VIP" or "Preferred"?

*Note: If you want to break down the main problem in a different way, please feel free to revise the sub problems above.*

Now in the workspace below, tackle each of the sub problems using the iterative problem solving workflow. Insert cells as necessary to write your codes and explain your steps.

In [242]:
# your code here

agg_spent = orders.groupby('CustomerID')['amount_spent'].sum().reset_index()

agg_spent

      CustomerID  amount_spent
0          12346      77183.60
1          12347       4310.00
2          12348       1797.24
3          12349       1757.55
4          12350        334.40
...          ...           ...
4334       18280        180.60
4335       18281         80.82
4336       18282        178.05
4337       18283       2094.88
4338       18287       1837.28

[4339 rows x 2 columns]

In [244]:
spent_Q95 = agg_spent['amount_spent'].quantile(0.95)
spent_Q75 =agg_spent['amount_spent'].quantile(0.75)
max_spent= agg_spent['amount_spent'].max()

In [245]:
spent_Q75

1661.64

In [246]:
spent_Q95

5840.181999999982

In [247]:
max_spent

280206.02

In [248]:
def customer_type(x):
    if x<1661.64 :
        return "Normal"
    elif x<5840.181999999982:
        return "Preferred Customer"
    else:
        return "VIP"

In [249]:
agg_spent['Customer Type']= agg_spent['amount_spent'].apply(customer_type)

In [250]:
agg_spent

      CustomerID  amount_spent       Customer Type
0          12346      77183.60                 VIP
1          12347       4310.00  Preferred Customer
2          12348       1797.24  Preferred Customer
3          12349       1757.55  Preferred Customer
4          12350        334.40              Normal
...          ...           ...                 ...
4334       18280        180.60              Normal
4335       18281         80.82              Normal
4336       18282        178.05              Normal
4337       18283       2094.88  Preferred Customer
4338       18287       1837.28  Preferred Customer

[4339 rows x 3 columns]

In [252]:
merged_order=pd.merge(orders, agg_spent, on='CustomerID', how='inner')

merged_order = merged_order.rename(columns={'amount_spent_x': 'Amount spent','amount_spent_y': 'Customer total spent'})

merged_order

,Unnamed: 0,InvoiceNo,StockCode,year,month,day,hour,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country,Amount spent,Customer total spent,Customer Type
0,0,536365,85123A,2010,12,3,8,white hanging heart t-light holder,6,2010-12-01 08:26:00,2.55,17850,United Kingdom,15.30,5391.21,Preferred Customer
1,1,536365,71053,2010,12,3,8,white metal lantern,6,2010-12-01 08:26:00,3.39,17850,United Kingdom,20.34,5391.21,Preferred Customer
2,2,536365,84406B,2010,12,3,8,cream cupid hearts coat hanger,8,2010-12-01 08:26:00,2.75,17850,United Kingdom,22.00,5391.21,Preferred Customer
3,3,536365,84029G,2010,12,3,8,knitted union flag hot water bottle,6,2010-12-01 08:26:00,3.39,17850,United Kingdom,20.34,5391.21,Preferred Customer
4,4,536365,84029E,2010,12,3,8,red woolly hottie white heart.,6,2010-12-01 08:26:00,3.39,17850,United Kingdom,20.34,5391.21,Preferred Customer
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
397919,541801,581578,22993,2011,12,5,12,set of 4 pantry jelly moulds,12,2011-12-09 12:16:00,1.25,12713,Germany,15.00,848.55,Normal
397920,541802,581578,22907,2011,12,5,12,pack of 20 napkins pantry design,12,2011-12-09 12:16:00,0.85,12713,Germany,10.20,848.55,Normal
397921,541803,581578,22908,2011,12,5,12,pack of 20 napkins red apples,12,2011-12-09 12:16:00,0.85,12713,Germany,10.20,848.55,Normal
397922,541804,581578,23215,2011,12,5,12,jingle bell heart antique silver,12,2011-12-09 12:16:00,2.08,12713,Germany,24.96,848.55,Normal
397923,541805,581578,22736,2011,12,5,12,ribbon reel making snowmen,10,2011-12-09 12:16:00,1.65,12713,Germany,16.50,848.55,Normal

Now we'll leave it to you to solve Q2 & Q3, which you can leverage from your solution for Q1:

## Q2: How to identify which country has the most VIP Customers?

In [268]:
# your code here
def count_vip_customers(df):
    return (df['Customer Type'] == 'VIP').sum()

country_vip_counts = merged_order.groupby('Country').apply(count_vip_customers)

most_vip_country = country_vip_counts.idxmax()


print('The country whith the most VIP customer is:',most_vip_country)

The country whith the most VIP customer is: United Kingdom

## Q3: How to identify which country has the most VIP+Preferred Customers combined?

In [279]:
# your code here

def count_vip_pref_customers(df):
    return df['Customer Type'].isin(['VIP','Preferred Customer']).sum()


country_vip_pref_counts = merged_order.groupby('Country').apply(count_vip_pref_customers)

most_vip_pref_country = country_vip_pref_counts.idxmax()


print('The country whith the most VIP and Preferred customers is:',most_vip_pref_country)

The country whith the most VIP and Preferred customers is: United Kingdom